<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
		point="org.eclipse.ui.editors">
		<editor
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
			contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
			default="true"
			extensions="main_drone"
			id="fr.idmteam1.idmproject.dronedsl.DroneDSL"
			name="DroneDSL Editor">
		</editor>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
			commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
			<activeWhen>
				<reference
					definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
			commandId="fr.idmteam1.idmproject.dronedsl.DroneDSL.validate">
		<activeWhen>
			<reference
					definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSL.Editor.opened">
			</reference>
		</activeWhen>
		</handler>
		<!-- copy qualified name -->
		<handler
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
			<activeWhen>
				<reference definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSL.Editor.opened" />
			</activeWhen>
		</handler>
		<handler
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
			<activeWhen>
				<and>
					<reference definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSL.XtextEditor.opened" />
					<iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="fr.idmteam1.idmproject.dronedsl.DroneDSL.Editor.opened">
			<and>
				<reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="fr.idmteam1.idmproject.dronedsl.DroneDSL"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
		<definition id="fr.idmteam1.idmproject.dronedsl.DroneDSL.XtextEditor.opened">
			<and>
				<reference definitionId="isXtextEditorActive"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="fr.idmteam1.idmproject.dronedsl.DroneDSL"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
	</extension>
	<extension
			point="org.eclipse.ui.preferencePages">
		<page
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="fr.idmteam1.idmproject.dronedsl.DroneDSL"
			name="DroneDSL">
			<keywordReference id="fr.idmteam1.idmproject.dronedsl.ui.keyword_DroneDSL"/>
		</page>
		<page
			category="fr.idmteam1.idmproject.dronedsl.DroneDSL"
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
			id="fr.idmteam1.idmproject.dronedsl.DroneDSL.coloring"
			name="Syntax Coloring">
			<keywordReference id="fr.idmteam1.idmproject.dronedsl.ui.keyword_DroneDSL"/>
		</page>
		<page
			category="fr.idmteam1.idmproject.dronedsl.DroneDSL"
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
			id="fr.idmteam1.idmproject.dronedsl.DroneDSL.templates"
			name="Templates">
			<keywordReference id="fr.idmteam1.idmproject.dronedsl.ui.keyword_DroneDSL"/>
		</page>
	</extension>
	<extension
			point="org.eclipse.ui.propertyPages">
		<page
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="fr.idmteam1.idmproject.dronedsl.DroneDSL"
			name="DroneDSL">
			<keywordReference id="fr.idmteam1.idmproject.dronedsl.ui.keyword_DroneDSL"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension
		point="org.eclipse.ui.keywords">
		<keyword
			id="fr.idmteam1.idmproject.dronedsl.ui.keyword_DroneDSL"
			label="DroneDSL"/>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
	<command
			description="Trigger expensive validation"
			id="fr.idmteam1.idmproject.dronedsl.DroneDSL.validate"
			name="Validate">
	</command>
	<!-- copy qualified name -->
	<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
	</command>
	<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
	</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			 <command
				 commandId="fr.idmteam1.idmproject.dronedsl.DroneDSL.validate"
				 style="push"
				 tooltip="Trigger expensive validation">
			<visibleWhen checkEnabled="false">
				<reference
					definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSL.Editor.opened">
				</reference>
			</visibleWhen>
		</command>
		</menuContribution>
		<!-- copy qualified name -->
		<menuContribution locationURI="popup:#TextEditorContext?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSL.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="menu:edit?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSL.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<and>
						<reference definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSL.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
					<reference definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSL.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
			commandId="org.eclipse.xtext.ui.editor.FindReferences">
			<activeWhen>
				<reference
					definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<!-- adding resource factories -->
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="main_drone">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
		<resourceServiceProvider
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="main_drone">
		</resourceServiceProvider>
	</extension>
	<!-- marker definitions for fr.idmteam1.idmproject.dronedsl.DroneDSL -->
	<extension
			id="dronedsl.check.fast"
			name="DroneDSL Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.fast"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="dronedsl.check.normal"
			name="DroneDSL Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.normal"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="dronedsl.check.expensive"
			name="DroneDSL Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.expensive"/>
		<persistent value="true"/>
	</extension>
	
	<!-- Désactiver la génération automatique à la sauvegarde pour la faire explicitement via un menu
	<extension point="org.eclipse.xtext.builder.participant">
		<participant
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
			fileExtensions="main_drone"/>
	</extension>
	-->
	
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="fr.idmteam1.idmproject.dronedsl.DroneDSL"
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="fr.idmteam1.idmproject.dronedsl.DroneDSL.compiler.preferencePage"
			name="Compiler">
			<keywordReference id="fr.idmteam1.idmproject.dronedsl.ui.keyword_DroneDSL"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page
			category="fr.idmteam1.idmproject.dronedsl.DroneDSL"
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="fr.idmteam1.idmproject.dronedsl.DroneDSL.compiler.propertyPage"
			name="Compiler">
			<keywordReference id="fr.idmteam1.idmproject.dronedsl.ui.keyword_DroneDSL"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?after=xtext.ui.openDeclaration">
			<command
				commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand"
				id="fr.idmteam1.idmproject.dronedsl.DroneDSL.OpenGeneratedCode"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSL.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLExecutableExtensionFactory:org.eclipse.xtext.ui.generator.trace.OpenGeneratedFileHandler"
			commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand">
			<activeWhen>
				<reference definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSL.Editor.opened" />
			</activeWhen>
		</handler>
	</extension>
	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSL.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- quickfix marker resolution generator for fr.idmteam1.idmproject.dronedsl.DroneDSL -->
	<extension
			point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="fr.idmteam1.idmproject.dronedsl.ui.dronedsl.check.fast">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="fr.idmteam1.idmproject.dronedsl.ui.dronedsl.check.normal">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="fr.idmteam1.idmproject.dronedsl.ui.dronedsl.check.expensive">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
	</extension>
	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSL.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="fr.idmteam1.idmproject.dronedsl.DroneDSL"
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
			id="fr.idmteam1.idmproject.dronedsl.DroneDSL.refactoring"
			name="Refactoring">
			<keywordReference id="fr.idmteam1.idmproject.dronedsl.ui.keyword_DroneDSL"/>
		</page>
	</extension>
	<extension point="org.eclipse.compare.contentViewers">
		<viewer id="fr.idmteam1.idmproject.dronedsl.DroneDSL.compare.contentViewers"
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="main_drone">
		</viewer>
	</extension>
	<extension point="org.eclipse.compare.contentMergeViewers">
		<viewer id="fr.idmteam1.idmproject.dronedsl.DroneDSL.compare.contentMergeViewers"
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="main_drone" label="DroneDSL Compare">
		</viewer>
	</extension>
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider id="fr.idmteam1.idmproject.dronedsl.DroneDSL.editors.documentProviders"
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
			extensions="main_drone">
		</provider>
	</extension>
	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes
			extension="main_drone"
			type="text">
		</fileTypes>
	</extension>
	<extension
		point="org.eclipse.ui.newWizards">
		<wizard
			category="org.eclipse.xtext.projectwiz"
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLExecutableExtensionFactory:fr.idmteam1.idmproject.dronedsl.ui.wizard.DroneDSLNewProjectWizard"
			id="fr.idmteam1.idmproject.dronedsl.ui.wizard.DroneDSLNewProjectWizard"
			name="DroneDSL Project"
				project="true">
		</wizard>
	</extension>
	<extension
		point="org.eclipse.ui.editors">
		<editor
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLLibExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
			contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
			default="true"
			extensions="lib_drone"
			id="fr.idmteam1.idmproject.dronedsl.DroneDSLLib"
			name="DroneDSLLib Editor">
		</editor>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLLibExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
			commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
			<activeWhen>
				<reference
					definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLLibExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
			commandId="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.validate">
		<activeWhen>
			<reference
					definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.Editor.opened">
			</reference>
		</activeWhen>
		</handler>
		<!-- copy qualified name -->
		<handler
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLLibExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
			<activeWhen>
				<reference definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.Editor.opened" />
			</activeWhen>
		</handler>
		<handler
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLLibExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
			<activeWhen>
				<and>
					<reference definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.XtextEditor.opened" />
					<iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.Editor.opened">
			<and>
				<reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="fr.idmteam1.idmproject.dronedsl.DroneDSLLib"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
		<definition id="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.XtextEditor.opened">
			<and>
				<reference definitionId="isXtextEditorActive"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="fr.idmteam1.idmproject.dronedsl.DroneDSLLib"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
	</extension>
	<extension
			point="org.eclipse.ui.preferencePages">
		<page
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLLibExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="fr.idmteam1.idmproject.dronedsl.DroneDSLLib"
			name="DroneDSLLib">
			<keywordReference id="fr.idmteam1.idmproject.dronedsl.ui.keyword_DroneDSLLib"/>
		</page>
		<page
			category="fr.idmteam1.idmproject.dronedsl.DroneDSLLib"
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLLibExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
			id="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.coloring"
			name="Syntax Coloring">
			<keywordReference id="fr.idmteam1.idmproject.dronedsl.ui.keyword_DroneDSLLib"/>
		</page>
		<page
			category="fr.idmteam1.idmproject.dronedsl.DroneDSLLib"
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLLibExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
			id="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.templates"
			name="Templates">
			<keywordReference id="fr.idmteam1.idmproject.dronedsl.ui.keyword_DroneDSLLib"/>
		</page>
	</extension>
	<extension
			point="org.eclipse.ui.propertyPages">
		<page
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLLibExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="fr.idmteam1.idmproject.dronedsl.DroneDSLLib"
			name="DroneDSLLib">
			<keywordReference id="fr.idmteam1.idmproject.dronedsl.ui.keyword_DroneDSLLib"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension
		point="org.eclipse.ui.keywords">
		<keyword
			id="fr.idmteam1.idmproject.dronedsl.ui.keyword_DroneDSLLib"
			label="DroneDSLLib"/>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
	<command
			description="Trigger expensive validation"
			id="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.validate"
			name="Validate">
	</command>
	<!-- copy qualified name -->
	<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
	</command>
	<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
	</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			 <command
				 commandId="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.validate"
				 style="push"
				 tooltip="Trigger expensive validation">
			<visibleWhen checkEnabled="false">
				<reference
					definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.Editor.opened">
				</reference>
			</visibleWhen>
		</command>
		</menuContribution>
		<!-- copy qualified name -->
		<menuContribution locationURI="popup:#TextEditorContext?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="menu:edit?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<and>
						<reference definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
					<reference definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLLibExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
			commandId="org.eclipse.xtext.ui.editor.FindReferences">
			<activeWhen>
				<reference
					definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<!-- adding resource factories -->
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLLibExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="lib_drone">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
		<resourceServiceProvider
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLLibExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="lib_drone">
		</resourceServiceProvider>
	</extension>
	<!-- marker definitions for fr.idmteam1.idmproject.dronedsl.DroneDSLLib -->
	<extension
			id="dronedsllib.check.fast"
			name="DroneDSLLib Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.fast"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="dronedsllib.check.normal"
			name="DroneDSLLib Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.normal"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="dronedsllib.check.expensive"
			name="DroneDSLLib Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.expensive"/>
		<persistent value="true"/>
	</extension>
	
	<!-- Désactiver la génération automatique à la sauvegarde pour la faire explicitement via un menu
	<extension point="org.eclipse.xtext.builder.participant">
		<participant
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLLibExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
			fileExtensions="lib_drone"/>
	</extension>
	-->
	
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="fr.idmteam1.idmproject.dronedsl.DroneDSLLib"
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLLibExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.compiler.preferencePage"
			name="Compiler">
			<keywordReference id="fr.idmteam1.idmproject.dronedsl.ui.keyword_DroneDSLLib"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page
			category="fr.idmteam1.idmproject.dronedsl.DroneDSLLib"
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLLibExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.compiler.propertyPage"
			name="Compiler">
			<keywordReference id="fr.idmteam1.idmproject.dronedsl.ui.keyword_DroneDSLLib"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?after=xtext.ui.openDeclaration">
			<command
				commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand"
				id="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.OpenGeneratedCode"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLLibExecutableExtensionFactory:org.eclipse.xtext.ui.generator.trace.OpenGeneratedFileHandler"
			commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand">
			<activeWhen>
				<reference definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.Editor.opened" />
			</activeWhen>
		</handler>
	</extension>
	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLLibExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- quickfix marker resolution generator for fr.idmteam1.idmproject.dronedsl.DroneDSLLib -->
	<extension
			point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLLibExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="fr.idmteam1.idmproject.dronedsl.ui.dronedsllib.check.fast">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLLibExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="fr.idmteam1.idmproject.dronedsl.ui.dronedsllib.check.normal">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLLibExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="fr.idmteam1.idmproject.dronedsl.ui.dronedsllib.check.expensive">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
	</extension>
	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLLibExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="fr.idmteam1.idmproject.dronedsl.DroneDSLLib"
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLLibExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
			id="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.refactoring"
			name="Refactoring">
			<keywordReference id="fr.idmteam1.idmproject.dronedsl.ui.keyword_DroneDSLLib"/>
		</page>
	</extension>
	<extension point="org.eclipse.compare.contentViewers">
		<viewer id="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.compare.contentViewers"
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLLibExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="lib_drone">
		</viewer>
	</extension>
	<extension point="org.eclipse.compare.contentMergeViewers">
		<viewer id="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.compare.contentMergeViewers"
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLLibExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="lib_drone" label="DroneDSLLib Compare">
		</viewer>
	</extension>
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider id="fr.idmteam1.idmproject.dronedsl.DroneDSLLib.editors.documentProviders"
			class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLLibExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
			extensions="lib_drone">
		</provider>
	</extension>
	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes
			extension="lib_drone"
			type="text">
		</fileTypes>
	</extension>
	
 <!-- <extension
       point="org.eclipse.ui.commands">
    <command
          defaultHandler="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLExecutableExtensionFactory:fr.idmteam1.idmproject.dronedsl.ui.handler.GenerationHandler"
          id="fr.idmteam1.idmproject.dronedsl.ui.commandgenerate"
          name="button_generate">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="toolbar:org.eclipse.ui.main.toolbar">
       <toolbar
             id="fr.idmteam1.idmproject.dronedsl.ui.toolbargenerate">
          <command
                commandId="fr.idmteam1.idmproject.dronedsl.ui.commandgenerate"
                icon="hammer.png"
                style="push"
                tooltip="Generer le code">
          </command>
       </toolbar>
    </menuContribution>
 </extension> -->
 
 	<extension
 		point="org.eclipse.ui.handlers">
 		<handler
 		 	class="fr.idmteam1.idmproject.dronedsl.ui.DroneDSLExecutableExtensionFactory:fr.idmteam1.idmproject.dronedsl.ui.handler.DroneDSLGenerationHandler"
 		 	commandId="fr.idmteam1.idmproject.dronedsl.ui.handler.DroneDSLGenerationHandler">
 		</handler>
 	</extension>
 	
   <extension
       point="org.eclipse.ui.commands">
    	<command name="Generate Code"
          	id="fr.idmteam1.idmproject.dronedsl.ui.handler.DroneDSLGenerationHandler"> 
    	</command>
 	</extension>
 	
 	<extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="toolbar:org.eclipse.ui.main.toolbar">
       <toolbar
             id="fr.idmteam1.idmproject.dronedsl.ui.toolbargenerate">
          <command
                commandId="fr.idmteam1.idmproject.dronedsl.ui.handler.DroneDSLGenerationHandler"
                icon="hammer.png"
                style="push"
                tooltip="Generer le code">
          </command>
       </toolbar>
    </menuContribution>
 </extension>
 	
 
</plugin>
