/.MyTurtleDslRuntimeModule.java._trace
/.MyTurtleDslRuntimeModule.xtendbin
/.MyTurtleDslStandaloneSetup.java._trace
/.MyTurtleDslStandaloneSetup.xtendbin
/MyTurtleDslRuntimeModule.java
/MyTurtleDslStandaloneSetup.java
