/.MyTurtleDslDescriptionLabelProvider.java._trace
/.MyTurtleDslDescriptionLabelProvider.xtendbin
/.MyTurtleDslLabelProvider.java._trace
/.MyTurtleDslLabelProvider.xtendbin
/MyTurtleDslDescriptionLabelProvider.java
/MyTurtleDslLabelProvider.java
